<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Minhas Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="tasks.length < 1">
      <ion-label>Você não tem, tarefas cadastradas</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item detail="false" lines="none" (click)="openActions(task)">
        <ion-label *ngIf="!task.done">{{task.name}}</ion-label>
        <ion-label *ngIf="task.done"><del>{{task.name}}</del></ion-label>
        <ion-icon slot="start" name="radio-button-off" *ngIf="!task.done"></ion-icon>
        <ion-icon slot="start" name="checkmark-circle" color="success" *ngIf="task.done"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="confirma(task)" color="danger"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAdd()"color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>